<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="genlab.core.algo">
      <algo
            class="genlab.algog.algos.meta.GenomeAlgo"
            id="genlab.algog.core.algos.gene">
      </algo>
      <algo
            class="genlab.algog.algos.meta.ReceiveFitnessAlgo"
            id="genlab.algog.core.algos.receivefitness">
      </algo>
      <algo
            class="genlab.algog.algos.meta.MeanSquaredErrorAlgo"
            id="genlab.algog.core.algos.meansquarederror">
      </algo>
      <algo
            class="genlab.algog.algos.meta.IntegerGeneAlgo"
            id="genlab.algog.core.algos.integergene">
      </algo>
      <algo
            class="genlab.algog.algos.meta.DoubleGeneAlgo"
            id="genlab.algog.core.algos.doublegene">
      </algo>
      <algo
            class="genlab.algog.algos.meta.BooleanGeneAlgo"
            id="genlab.algog.core.algos.boolalgo">
      </algo>
      <algo
            class="genlab.algog.algos.meta.GoalAlgo"
            id="genlab.algog.algos.meta.GoalAlgo">
      </algo>
      <algo
            class="genlab.algog.algos.meta.NSGA2GeneticExplorationAlgo"
            id="genlab.algog.algos.meta.NSGA2GeneticExplorationAlgo">
      </algo>
      <algo
            class="genlab.algog.algos.meta.VerificationFunctionsAlgo"
            id="genlab.algog.algos.meta.VerificationFunctionsAlgo">
      </algo>
   </extension>
   <extension
         point="genlab.core.doc">
      <library
            description="implements genetic algorithms"
            id="genlab.algog.core.library"
            name="Genetic algorithms for GenLab">
         <integrator_author_id
               id="genlab.algog.core.integrator_author_id1">
         </integrator_author_id>
         <original_author_id
               id="genlab.algog.core.original_author_id1">
         </original_author_id>
      </library>
      <docalgo
            algo_id="genlab.algog.algos.meta.VerificationFunctionsAlgo"
            description="implements test functions for multi-objective optimization"
            library_id="genlab.algog.core.library">
         <more_info
               content="wikipedia page on test functions for optimization"
               url="en.wikipedia.org/wiki/Test_functions_for_optimization">
         </more_info>
      </docalgo>
   </extension>

</plugin>
