<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="genlab.core.algo">
      <algo
            class="genlab.igraph.algos.measure.IGraphAveragePathLengthAlgo"
            id="genlab.igraph.algos.measure.AveragePathLengthAlgo">
      </algo>
   </extension>

</plugin>
