<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="genlab.server.Application">
         </run>
      </application>
   </extension>
   <extension
         id="genlab_server_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="genlab.server.application"
            name="Genlab Server">
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="273,193,385,18">
         </property>
         <property
               name="startupMessageRect"
               value="273,210,386,20">
         </property>
         <property
               name="appName"
               value="Genlab Server">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
