<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="genlab.examples.extensions.example">
      <example
            class="genlab.algog.gui.examples.examples.ExampleMultiGoalWS"
            id="genlab.algog.gui.examples.examples.ExampleMultiGoalWS">
      </example>
      <example
            class="genlab.algog.gui.examples.examples.ExampleTestFunctionBinhKorn"
            id="genlab.algog.gui.examples.examples.ExampleTestFunctionBinhKorn">
      </example>
      <example
            class="genlab.algog.gui.examples.examples.ExampleTestFunctionChakongHaimes"
            id="genlab.algog.gui.examples.examples.ExampleTestFunctionChakongHaimes">
      </example>
   </extension>

</plugin>
