<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="genlab.core.algo">
      <algo
            class="genlab.gui.jfreechart.algos.ScatterPlotAlgo"
            id="genlab.gui.jfreechart.algos.ScatterPlotAlgo">
      </algo>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.jfreechart.views.ScatterView"
            id="genlab.gui.jfreechart.views.ScatterView"
            name="Scatter view"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="genlab.gui.perspectives.WorkflowPerspective">
         <view
               closeable="true"
               id="genlab.gui.jfreechart.views.ScatterView"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <viewShortcut
               id="genlab.gui.jfreechart.views.ScatterView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
