<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="genlab.core.algo">
      <algo
            class="genlab.netlogo.algos.SIRModelAlgo"
            id="genlab.netlogo.algos.SIRModelAlgo">
      </algo>
      <algo
            class="genlab.netlogo.algos.SIRVaccinesModelAlgo"
            id="genlab.netlogo.algos.SIRVaccinesModelAlgo">
      </algo>
   </extension>

</plugin>
