<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="genlab.core.algo">
      <algo
            class="fr.edf.everest.algos.AGG6_3EverestModelAlgo"
            id="fr.edf.everest.algos.AGG6_3EverestModelAlgo">
      </algo>
   </extension>

</plugin>
