<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="genlab.core.algo" name="genlab.algo" schema="schema/genlab.core.algo.exsd"/>
   <extension-point id="genlab.core.workflow.listeners" name="listeners" schema="schema/genlab.core.workflow.listeners.exsd"/>
   <extension-point id="genlab.core.doc" name="genlab.core.doc" schema="schema/genlab.core.doc.exsd"/>
   <extension
         point="genlab.core.algo">
      <algo
            class="genlab.core.model.meta.basics.algos.ConstantValueDouble"
            id="genlab.core.algo.constants.double">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.ConstantValueInteger"
            id="genlab.core.algo.constants.integer">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.HeterogeneousMapMultiplexor"
            id="genlab.core.model.meta.basics.algos.HeterogeneousMapMultiplexor">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.StandardOutputAlgo"
            id="genlab.core.model.meta.basics.algos.StandardOutputAlgo">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.ConstantValueFile"
            id="genlab.core.model.meta.basics.algos.ConstantValueFile">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.DoubleFillTableAlgo"
            id="genlab.core.model.meta.basics.algos.DoubleFillTableAlgo">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.IntegerFillTableAlgo"
            id="genlab.core.model.meta.basics.algos.IntegerFillTableAlgo">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.AppendToTableAlgo"
            id="genlab.core.model.meta.basics.algos.AppendToTableAlgo">
      </algo>
      <algo
            class="genlab.core.model.meta.LoopForAlgo"
            id="genlab.core.model.meta.LoopForAlgo">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.WriteTableCSV"
            id="genlab.core.model.meta.basics.algos.WriteTableCSV">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.GraphBasicPropertiesAlgo"
            id="genlab.core.model.meta.basics.algos.GraphBasicPropertiesAlgo">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.ConcatenateGraphsAlgo"
            id="genlab.core.model.meta.basics.algos.ConcatenateGraphsAlgo">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.ConvertBooleanToInteger"
            id="genlab.core.model.meta.basics.algos.ConvertBooleanToInteger">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.ConvertDoubleToInteger"
            id="genlab.core.model.meta.basics.algos.ConvertDoubleToInteger">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.ConstantValueString"
            id="genlab.core.model.meta.basics.algos.ConstantValueString">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.ConstantValueBoolean"
            id="genlab.core.algo.constants.bool">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.StatisticsOfColumnAlgo"
            id="genlab.core.model.meta.basics.algos.AverageOfColumnAlgo">
      </algo>
      <algo
            class="genlab.core.model.meta.basics.algos.SumAlgo"
            id="genlab.core.model.meta.basics.algos.SumAlgo">
      </algo>
   </extension>
   <extension
         point="genlab.core.doc">
      <author
            id="genlab.core.doc.authors.samthiriot"
            name="Samuel Thiriot">
      </author>
      <library
            author="genlab.core.doc.authors.samthiriot"
            description="core of the genlab laboratory"
            id="genlab.core.doc.library.core"
            name="GenLab core">
         <original_author_id
               id="genlab.core.doc.authors.samthiriot">
         </original_author_id>
         <integrator_author_id
               id="genlab.core.doc.authors.samthiriot">
         </integrator_author_id>
      </library>
      <docalgo
            algo_id="genlab.core.algo.constants.double"
            description="genlab.core.docalgo1"
            library_id="genlab.core.doc.library.core"
            memory_complexity="O(1)"
            name="genlab.core.docalgo1"
            original_authors="genlab.core.docalgo1"
            time_complexity="O(1)">
         <integrator_author_id
               id="genlab.core.doc.authors.samthiriot">
         </integrator_author_id>
         <original_author_id
               id="genlab.core.doc.authors.samthiriot">
         </original_author_id>
      </docalgo>
      <docalgo
            algo_id="genlab.core.algo.constants.integer"
            library_id="genlab.core.doc.library.core"
            memory_complexity="O(1)"
            time_complexity="O(1)">
         <integrator_author_id
               id="genlab.core.doc.authors.samthiriot">
         </integrator_author_id>
         <original_author_id
               id="genlab.core.doc.authors.samthiriot">
         </original_author_id>
      </docalgo>
      <docalgo
            algo_id="genlab.core.model.meta.basics.algos.StandardOutputAlgo"
            description="This algorithm displays any input to the standard output (console)"
            library_id="genlab.core.doc.library.core"
            memory_complexity="O(1)"
            time_complexity="O(1)">
      </docalgo>
      <docalgo
            algo_id="genlab.core.model.meta.basics.algos.GraphBasicPropertiesAlgo"
            library_id="genlab.core.doc.library.core"
            memory_complexity="O(1)"
            time_complexity="O(1)">
         <more_info
               content="a wikipedia page on graph density"
               url="https://en.wikipedia.org/wiki/Dense_graph">
         </more_info>
      </docalgo>
      <docalgo
            algo_id="genlab.core.model.meta.basics.algos.AverageOfColumnAlgo"
            library_id="genlab.algog.core.library">
         <more_info
               content="wikipedia explanations for the Bessel&apos;s correction"
               url="http://en.wikipedia.org/wiki/Bessel&apos;s_correction">
         </more_info>
         <more_info
               content="Wiikipedia page on variance"
               url="http://en.wikipedia.org/wiki/Variance">
         </more_info>
      </docalgo>
   </extension>



</plugin>
