<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="edits workflow diagrams"
            id="genlab.graphiti.contexts.contextWorkflowEditor"
            name="Genlab workflows editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="genlab.gui.graphiti.GraphitiImageProvider"
            id="genlab.gui.graphiti.GraphitiImageProvider">
      </imageProvider>
   </extension>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="Graphiti Diagram Type"
            type="genlab.graphiti.diagtypes.workflow"
            id="genlab.graphiti.diagtypes.workflow">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="genlab.gui.graphiti.diagram.GraphitiDiagramTypeProvider"
            context="genlab.graphiti.contexts.contextWorkflowEditor"
            id="genlab.gui.graphiti.diagram.GraphitiDiagramTypeProvider"
            name="Graphiti Diagram Type Provider">
         <diagramType
               id="genlab.graphiti.diagtypes.workflow">
         </diagramType>
         <imageProvider
               id="genlab.gui.graphiti.GraphitiImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="genlab.graphiti"
            name="TODO Category">
      </category>
      <view
            allowMultiple="true"
            category="genlab.graphiti"
            class="genlab.gui.graphiti.views.WorkflowGraphityView"
            icon="icons/sample.gif"
            id="genlab.graphiti.views.WorkflowGraphityView"
            name="WorkflowView">
      </view>
   </extension>
   <extension
         point="genlab.core.workflow.listeners">
      <listener
            class="genlab.gui.graphiti.genlab2graphiti.WorkflowListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="genlab.gui.graphiti.editors.GenlabDiagramEditor"
            contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
            default="true"
            extensions="wfdiag"
            id="genlab.gui.graphiti.editors.GenlabDiagramEditor"
            matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
            name="Workflow Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="genlab.gui.perspectives.WorkflowPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="genlab.gui.category"
            description="create another file with a graphical view of the diagram"
            id="genlab.graphiti.commands.createWorkflowDiagram"
            name="create_graphiti_diagram_workflow">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="genlab.gui.graphiti.actions.CreateGraphitiDiagramHandler"
            commandId="genlab.graphiti.commands.createWorkflowDiagram">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:genlab.gui.views.projectexplorer?before=import">
         <command
               commandId="genlab.graphiti.commands.createWorkflowDiagram"
               label="view in a workflow diagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.glw">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="genlab.gui.views.projectexplorer">
      </viewer>
      <viewerActionBinding
            viewerId="genlab.gui.views.projectexplorer">
      </viewerActionBinding>
   </extension>

</plugin>
