<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="edits workflow diagrams"
            id="genlab.graphiti.contexts.contextWorkflowEditor"
            name="Genlab workflows editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="genlab.gui.graphiti.GraphitiImageProvider"
            id="genlab.gui.graphiti.GraphitiImageProvider">
      </imageProvider>
   </extension>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="Graphiti Diagram Type"
            type="genlab.graphiti.diagtypes.workflow"
            id="genlab.graphiti.diagtypes.workflow">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="genlab.gui.graphiti.diagram.GraphitiDiagramTypeProvider"
            context="genlab.graphiti.contexts.contextWorkflowEditor"
            id="genlab.gui.graphiti.diagram.GraphitiDiagramTypeProvider"
            name="Graphiti Diagram Type Provider">
         <diagramType
               id="genlab.graphiti.diagtypes.workflow">
         </diagramType>
         <imageProvider
               id="genlab.gui.graphiti.GraphitiImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="genlab.graphiti"
            name="TODO Category">
      </category>
      <view
            allowMultiple="true"
            category="genlab.graphiti"
            class="genlab.gui.graphiti.views.WorkflowGraphityView"
            icon="icons/sample.gif"
            id="genlab.graphiti.views.WorkflowGraphityView"
            name="WorkflowView">
      </view>
   </extension>
   <extension
         point="genlab.core.workflow.listeners">
      <listener
            class="genlab.gui.graphiti.genlab2graphiti.WorkflowListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="genlab.gui.graphiti.editors.GenlabDiagramEditor"
            contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
            default="true"
            extensions="wfdiag"
            id="genlab.gui.graphiti.editors.GenlabDiagramEditor"
            matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
            name="Workflow Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="genlab.gui.perspectives.WorkflowPerspective">
      </perspectiveExtension>
   </extension>

</plugin>
