<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="genlab.core.algo">
      <algo
            class="genlab.graphstream.ui.algos.GraphDisplayAlgo"
            id="genlab.graphstream.ui.algos.GraphDisplayAlgo">
      </algo>
      <algo
            class="genlab.graphstream.ui.algos.GraphDisplay2DAlgo"
            id="genlab.graphstream.ui.algos.GraphDisplay2DAlgo">
      </algo>
   </extension>
   <extension
         point="genlab.core.doc">
      <library
            description="provides display features for graphs"
            id="genlab.graphstream.ui.libraries.graphstreamui"
            name="Graphstream UI">
         <integrator_author_id
               id="genlab.core.doc.authors.samthiriot">
         </integrator_author_id>
         <original_author_id
               id="genlab.graphstream.doc.authors.litisri2c">
         </original_author_id>
         <more_info
               content="javadoc for this graphstream library"
               url="http://graphstream-project.org/api/gs-ui/#package">
         </more_info>
         <more_info
               content="Graphstream project webpage"
               url="http://graphstream-project.org/">
         </more_info>
         <more_info
               content="graphstream CSS reference (to tune the display)"
               url="http://graphstream-project.org/doc/Tutorials/GraphStream-CSS-Reference_1.0/">
         </more_info>
      </library>
      <docalgo
            algo_id="genlab.graphstream.ui.algos.GraphDisplayAlgo"
            library_id="genlab.graphstream.ui.libraries.graphstreamui">
      </docalgo>
      <docalgo
            algo_id="genlab.graphstream.ui.algos.GraphDisplay2DAlgo"
            library_id="genlab.graphstream.ui.libraries.graphstreamui">
         <more_info
               content="the graphstream tutorial for graph visualization"
               url="http://graphstream-project.org/doc/Tutorials/Graph-Visualisation_1.0/">
         </more_info>
      </docalgo>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.graphstream.ui.views.GraphView"
            icon="icons/graphstream.gif"
            id="genlab.graphstream.ui.views.graphview"
            name="GraphView"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.graphstream.ui.views.GraphView2D"
            icon="icons/graphstream.gif"
            id="genlab.graphstream.ui.views.graphview2d"
            name="GraphView2D"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="genlab.gui.perspectives.RunPerspective">
         <view
               closeable="true"
               id="genlab.graphstream.ui.views.graphview:*"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="genlab.gui.perspectives.RunPerspective.folders.middle"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="genlab.graphstream.ui.views.graphview2d:*"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="genlab.gui.perspectives.RunPerspective.folders.middle"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="genlab.examples.extensions.example">
      <example
            class="genlab.graphstream.examples.WSExample1"
            id="genlab.graphstream.ui.example1">
      </example>
      <example
            class="genlab.graphstream.examples.BAExample1"
            id="genlab.graphstream.ui.example2">
      </example>
      <example
            class="genlab.graphstream.examples.StatsExample1"
            id="genlab.graphstream.ui.example3">
      </example>
   </extension>

</plugin>
