<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="genlab.examples.extensions.example" name="genlab.example" schema="schema/genlab.examples.example.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="genlab.gui.examples.StartupActivator">
      </startup>
   </extension>

</plugin>
