<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.algog.gui.jfreechart.views.ViewAlgogTable"
            id="genlab.algog.gui.jfreechart.views.ViewAlgoGTable"
            name="ViewAlgogTable"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.algog.gui.jfreechart.views.ViewAlgogRadarTable"
            id="genlab.algog.gui.jfreechart.views.ViewAlgoGTableRadar"
            name="ViewAlgogTableRadar"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.algog.gui.jfreechart.views.ViewAlgogBigRadarTable"
            id="genlab.algog.gui.jfreechart.views.ViewAlgogBigRadarTable"
            name="ViewAlgogBigRadarTable"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.algog.gui.jfreechart.views.FirstFront2DView"
            id="genlab.algog.gui.jfreechart.views.FirstFront2DView"
            name="FirstFrontAs2D"
            restorable="false">
      </view>
   </extension>
   <extension
         point="genlab.core.algo">
      <algo
            class="genlab.algog.gui.jfreechart.algos.AlgoGPlotAlgo"
            id="genlab.algog.gui.jfreechart.algos.AlgoGPlotAlgo">
      </algo>
      <algo
            class="genlab.algog.gui.jfreechart.algos.AlgoGPlotRadarAlgo"
            id="genlab.algog.gui.jfreechart.algos.AlgoGPlotRadarAlgo">
      </algo>
      <algo
            class="genlab.algog.gui.jfreechart.algos.AlgoGPlotBigRadarAlgo"
            id="genlab.algog.gui.jfreechart.algos.AlgoGPlotBigRadarAlgo">
      </algo>
      <algo
            class="genlab.algog.gui.jfreechart.algos.FirstFront2DAlgo"
            id="genlab.algog.gui.jfreechart.algos.FirstFront2DAlgo">
      </algo>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="genlab.gui.perspectives.RunPerspective">
         <view
               closeable="true"
               id="genlab.algog.gui.jfreechart.views.ViewAlgoGTable:*"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="genlab.gui.perspectives.RunPerspective.folders.middle"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="genlab.algog.gui.jfreechart.views.ViewAlgoGTableRadar:*"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="genlab.gui.perspectives.RunPerspective.folders.middle"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="genlab.algog.gui.jfreechart.views.ViewAlgogBigRadarTable:*"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="genlab.gui.perspectives.RunPerspective.folders.middle"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="genlab.algog.gui.jfreechart.views.FirstFront2DView:*"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="genlab.gui.perspectives.RunPerspective.folders.middle"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
