<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

   <extension
         id="application"
         name="genlab"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="genlab.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="genlab.gui.application"
            name="Genlab">
         <property
               name="appName"
               value="Genlab">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="273,210,386,20">
         </property>
         <property
               name="startupProgressRect"
               value="273,193,385,18">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="genlab.gui.perspectives.WorkflowPerspective"
            id="genlab.gui.perspectives.WorkflowPerspective"
            name="Workflow perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="genlab.gui.views.categorygenlab"
            name="Genlab">
      </category>
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.views.MessagesView"
            icon="icons/console_view.gif"
            id="genlab.gui.views.MessagesView"
            name="MessagesView"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.views.WorkflowView"
            id="genlab.gui.views.WorkflowView"
            name="Workflow"
            restorable="true">
      </view>
      <view
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.views.ExistingView"
            id="genlab.gui.views.ExistingView"
            name="Algos"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="genlab.gui.views.categorygenlab"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/view_navigator.gif"
            id="genlab.gui.views.projectexplorer"
            name="Project Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="genlab.gui.views.categorygenlab"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/workflow_explorer.gif"
            id="genlab.gui.views.workflowexplorer"
            name="Workflow explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.views.ParametersView"
            icon="icons/gears.gif"
            id="genlab.gui.views.ParametersView"
            name="parameters"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.views.AlgoInfoView"
            icon="icons/question.gif"
            id="genlab.gui.views.AlgoInfoView"
            name="Algorithm information"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.views.ConsoleView"
            icon="icons/console_view.gif"
            id="genlab.gui.views.ConsoleView"
            name="Console View"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.views.MessagesViewGeneral"
            icon="icons/console_view.gif"
            id="genlab.gui.views.MessagesViewGeneral"
            name="MessagesViewGeneral"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="genlab.gui.views.categorygenlab"
            class="genlab.gui.views.TasksProgressView"
            icon="icons/progress_view.gif"
            id="genlab.gui.views.ProgressView"
            name="Progress"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="genlab.gui.category"
            name="Gui">
      </category>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            id="genlab.gui.openMessage">
      </command>
      <command
            categoryId="genlab.gui.category"
            defaultHandler="genlab.gui.handlers.ClearAllHandler"
            description="clears the whole messages view"
            id="genlab.gui.messagesview.clearview"
            name="clear">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="genlab.gui.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="genlab.gui.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:genlab.gui.views.MessagesView">
         <command
               commandId="genlab.gui.messagesview.clearview"
               disabledIcon="icons/console_clear_grayed.gif"
               icon="icons/console_clear.gif"
               label="clear"
               style="push"
               tooltip="clear messages">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="genlab.gui.views.projectexplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="genlab.gui.views.projectexplorer.propertiesContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="genlab.gui.views.projectexplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewer
            viewerId="genlab.gui.views.workflowexplorer">
      </viewer>
      <viewerContentBinding
            viewerId="genlab.gui.views.workflowexplorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="genlab.gui.views.projectexplorer.workflowContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="genlab.gui.views.ProjectNavigatorContentProvider"
            icon="icons/view_navigator.gif"
            id="genlab.gui.views.projectexplorer.propertiesContent"
            labelProvider="genlab.gui.views.ProjectNavigatorLabelProvider"
            name="Properties file content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="properties">
                  </test>
               </and>
               <instanceof
                     value="org.eclipse.ui.examples.navigator.PropertiesTreeData">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="genlab.gui.views.ProjectNavigatorPropertiesTreeData">
            </instanceof>
         </possibleChildren>
         <enablement>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="genlab.gui.genlabProjectNature">
               </test>
            </and>
         </enablement>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="genlab.gui.views.WorkflowNavigatorContentProvider"
            icon="icons/workflow_explorer.gif"
            id="genlab.gui.views.projectexplorer.workflowContent"
            labelProvider="genlab.gui.views.WorkflowNavigatorLabelProvider"
            name="workflow content">
         <triggerPoints>
            <instanceof
                  value="genlab.core.IGenlabResource">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="genlab.gui.views.WorkflowRoot">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="genlab.gui.wizards.category"
            name="GenLab">
      </category>
      <wizard
            category="genlab.gui.wizards.category"
            class="genlab.gui.wizards.NewGenlabProjectWizard"
            finalPerspective="genlab.gui.perspectives.WorkflowPerspective"
            icon="icons/explorer_project_open.gif"
            id="genlab.gui.wizards.newgenlabproject"
            name="New Genlab project"
            project="true">
      </wizard>
      <wizard
            category="genlab.gui.wizards.category"
            class="genlab.gui.wizards.NewWorkflowWizard"
            finalPerspective="genlab.gui.perspectives.WorkflowPerspective"
            icon="icons/graph1.gif"
            id="genlab.gui.wizards.newworkflow"
            name="New workflow"
            project="false">
      </wizard>
   </extension>
   <extension
         id="genlabProjectNature"
         name="Workflow nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="genlab.gui.genlab2eclipse.GenLabWorkflowProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/explorer_project_open.gif"
            id="genlab.gui.projectnatureImage"
            natureId="genlab.gui.genlabProjectNature">
      </image>
   </extension>
   <extension
         point="genlab.core.workflow.listeners">
      <listener
            class="genlab.gui.genlab2eclipse.WorkflowsListener">
      </listener>
   </extension>
   <extension
         point="genlab.core.algo">
      <algo
            class="genlab.gui.algos.GraphicalConsoleAlgo"
            id="genlab.gui.algos.GraphicalConsoleAlgo">
      </algo>
   </extension>
   <extension
         point="genlab.core.doc">
      <library
            description="default Graphical User Interface for GenLab "
            id="genlab.gui.doc.libraries.gui"
            name="Genlab GUI">
         <integrator_author_id
               id="genlab.core.doc.authors.samthiriot">
         </integrator_author_id>
         <original_author_id
               id="genlab.core.doc.authors.samthiriot">
         </original_author_id>
      </library>
      <docalgo
            algo_id="genlab.gui.algos.GraphicalConsoleAlgo"
            description="d"
            library_id="genlab.core.doc.library.core"
            memory_complexity="O(n)"
            time_complexity="O(n) with n the number of inputs">
      </docalgo>
   </extension>

</plugin>
